@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --first-color: #30067a;
  --second-color: #3f51b5;
  --third-color: #30067a;
  --dark-white: #eee;
  --light: #fff;
  --theme-bck: #673ab7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 99%;
  height: 97.8vh;
  background-image: url(../pictures/sun-tornado.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

.dark {
  --first-color: #84d7fc;
  --second-color: #673ab7;
  --third-color: #0c6d99;
  --theme-bck: #fff;
  --light: #000;
  background-image: url(../pictures/endless-constellation.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Roboto", sans-serif;
}

/* ? Mobile First Design */

.container {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.container .form-cont {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 10px;
  margin-top: 1em;
}

.container .form-cont label {
  font-size: x-large;
  font-weight: bold;
  color: var(--first-color);
}

.container .form-cont .form {
  width: 100%;
}

.container .form-cont .form #input {
  width: 75%;
  height: 3em;
  border: none;
  outline: 3px solid var(--second-color);
  border-radius: 1em;
  padding: 8px;
  margin-right: 10px;
  text-align: center;
}

.container .form-cont .form #input + input {
  width: 20%;
  height: 3em;
  background-color: var(--second-color);
  color: var(--light);
  border: none;
  border-radius: 1em;
  opacity: 0.8;
  cursor: pointer;
}

.container .form-cont .form #input + input.active {
  opacity: 1;
  text-decoration: underline;
}

.container .tasks-container {
  width: 100%;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 10px;
}

.container .tasks-container .task {
  width: 100%;
  height: 8em;
  background-color: var(--second-color);
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 1em;
}

.container .tasks-container .task span {
  color: var(--light);
  letter-spacing: 1px;
}

.container .tasks-container .task.done span {
  text-decoration: line-through;
  opacity: 0.5;
}

.container .tasks-container .task button {
  width: 5em;
  height: 3em;
  background-color: var(--light);
  color: var(--third-color);
  font-weight: bold;
  border: none;
  border-radius: 8px;
  opacity: 0.9;
  cursor: pointer;
}

.container .tasks-container .task button:hover {
  opacity: 1;
  text-decoration: underline;
}

.theme-toggle {
  color: var(--light);
  background-color: var(--theme-bck);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 0.6em;
  right: 0.6em;
  font-size: 1.2rem;
  cursor: pointer;
}

/* ? Starting the media query for the tablet. */

@media only screen and (min-width: 720px) {
  body {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 82%;
  }
  .theme-toggle {
    width: 40px;
    height: 40px;
    top: 1em;
    right: 1em;
    font-size: 1.4rem;
  }
}

/* ? Starting the media query for the tablet. */

@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }
  .container {
    width: 75%;
  }
  .container .tasks-container .task {
    flex-direction: row;
  }
  .container .tasks-container .task .text {
    width: 75%;
  }
  .container .tasks-container .task .done,
  .container .tasks-container .task .edit {
    margin-right: 10px;
  }
  .theme-toggle {
    width: 50px;
    height: 50px;
    top: 2em;
    right: 2em;
    font-size: 1.6rem;
  }
}
